.container {
    margin: 20px;
    padding: 20px;
    background-color: $wpc-js-component-bg;
}

.header {
    font-weight: bold;
    font-size: 14pt;
    color: $wpc-pink;
}

p {
    padding: 0;
    margin: 0;
}
