$page-header-height: 60px;

.page-header {
  height: $page-header-height;
  line-height: $page-header-height - 20px;

  padding: 10px 15px;
  box-sizing: border-box;
}

.lk-btn {
  padding: 0 15px;
}
